[tools]
go = "latest"
golangci-lint = "v2.7.2"
node = "latest"
jq = "latest"
fd = "latest"
bat = "latest"
ghq = "latest"
ripgrep = "latest"
fzf = "latest"
lazydocker = "latest"
tmux = "latest"
terraform = "latest"
gh = "latest"
neovim = "latest"
delta = "latest"
gomigrate = "latest"
gemini-cli = "latest"
"npm:@github/copilot" = "latest"
awscli = { version = "latest", symlink_bins = "true" }
task = "latest"
stripe-cli = "latest"
colima = "latest"
lima = "latest"
docker-cli = "latest"
docker-compose = { version = "latest", postinstall = "ln -s $(which docker-cli-plugin-docker-compose) ~/.docker/cli-plugins/docker-compose" }
"aqua:docker/buildx" = "latest"
"npm:aws-cdk" = "latest"

[tasks.cleanup]
description = "システム全体のキャッシュ掃除"
run = """
  echo "Cleaning Go cache..." && go clean -modcache -cache -testcache
  echo "Cleaning Docker..." && docker system df && docker volume ls -qf dangling=true | xargs -r docker volume rm && docker images -f 'dangling=true' -q | xargs -r docker rmi && docker container prune --force --filter 'until=168h' && docker ps --filter 'status=exited' | grep 'weeks ago' | awk '{print $1}' | xargs -r docker rm && docker builder prune && docker system df
  echo "Cleaning npm cache..." && npm cache clean --force
  echo "Cleaning brew cache..." && brew cleanup
"""

[tasks.doctor]
run = "mise doctor && mise reshim"

[shell_alias]
mr = "mise run"
clm = "colima"
d = "docker"
dc = "docker compose"
dps = "docker ps"
dpsa = "docker ps -a"
dst = "docker stats"
dil = "docker images"
dclog = "docker compose logs -f"
dex = "docker exec -it"
dcex = "docker compose exec -it"
drm = "docker rm"
dri = "docker rmi"
dcl = '''docker system df && docker volume ls -qf dangling=true | xargs -r docker volume rm && docker images -f 'dangling=true' -q | xargs -r docker rmi && docker container prune --force --filter 'until=168h' && docker ps --filter 'status=exited' | grep 'weeks ago' | awk '{print $1}' | xargs -r docker rm && docker builder prune && docker system df'''
