[tools]
go = "latest"
golangci-lint = "v2.7.2"
node = "latest"
jq = "latest"
fd = "latest"
bat = "latest"
ghq = "latest"
ripgrep = "latest"
fzf = "latest"
lazydocker = "latest"
tmux = "latest"
terraform = "latest"
gh = "latest"
neovim = "latest"
delta = "latest"
gomigrate = "latest"
gemini-cli = "latest"
"npm:@github/copilot" = "latest"
awscli = { version = "latest", symlink_bins = "true" }
task = "latest"
stripe-cli = "latest"
colima = "latest"
lima = "latest"
docker-cli = "latest"
docker-compose = "latest"
"aqua:docker/buildx" = "latest"